<div class="row">
  <div class="col-md-6 col-xs-6 col-md-offset-3">
    <%= form_with(model: student, local: true) do |form| %>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %> error for  this student from being saved:</h2>

          <ul>
          <% student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :code %>
        <%= form.text_field :code, id: :student_code %>
      </div>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :student_name %>
      </div>

      <div class="field">
        <%= form.label :course %>
        <% if current_user.admin? %>
          <%= form.select :course_id, Course.all.map{ |c| [c.title, c.id]}, {:prompt => "select"}%>
        <% else %>
          <%= form.select :course_id, options_from_collection_for_select(current_user.courses.all, 'id', 'title'), id: "course_id" %>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
