<h1>Student Information</h1>
<div class="row">
  <div class="col-md-6 col-xs-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

    <dl class="dl-horizontal">
      <dt>Student Code:</dt>
      <dd><%= @student.code %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Student Name:</dt>
      <dd><%= @student.name %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd><%= @student.user.email %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Course:</dt>
      <dd><%= @student.course.name %></dd>
    </dl>

    <%= link_to 'Back', students_path, class: "btn btn-default btn-float btn-cancel"  %>
    <% if current_user.admin? %>
       <%= link_to "Print(PDF)", student_path(@student, format: 'pdf'), class: "btn btn-default btn-float btn-cancel"  %>
    <% end %>
  </div>
</div>
