<h1>All Students</h1>
<%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
<table id="student" class="table table-hover">
  <thead>
    <tr>
      <th>Student Code</th>
      <th>Student Name</th>
      <th>Course</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>status</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    
    <% @students.each do |student| %>
      <tr>
        <td><%= student.code %></td>
        <td><%= student.name %></td>
        <td><%= student.course.name %></td>
        <td> <%= student.created_at %></td>
        <td><%= student.updated_at%> </td>
        <td><%= student.status%> </td>
        <td>
          <%= link_to student, :class => "btn btn-crud-action btn-xs tooltips" do %>
            <i class="glyphicon glyphicon-list-alt"></i>
          <% end %>
        </td>
        <td><%= link_to edit_student_path(student), class: "btn btn-default btn btn-success" do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        </td>
        <td><%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag do %>
  $(document).ready(function() {
    $('#student').dataTable();
} );
<% end %>


